#  Calling the dynamic library
useDynLib(csaw)

#  All functions exported other than those starting with "."
exportPattern("^[^\\.]")

#  Importing required packages
import(GenomicRanges,Rsamtools,edgeR,limma)
