#  Calling the dynamic library
useDynLib(csaw, .registration=TRUE, .fixes="cxx_")

#  All functions exported, arranged by sequence of usage.
export(csawUsersGuide,
	readParam, reformList, checkList,
	correlateReads, maximizeCcf, profileSites, wwhm,
	getPESizes, 
	regionCounts, windowCounts, strandedCounts,
	getWidths, scaledAverage, findMaxima, filterWindows,
	combineTests, getBestTest, mergeWindows, clusterFDR, controlClusterFDR, clusterWindows,
	consolidateSizes, upweightSummit, consolidateClusters,
	combineOverlaps, getBestOverlaps, summitOverlaps,
	detailRanges,
	checkBimodality,
	extractReads)

#  Importing required packages
import(GenomicRanges, SummarizedExperiment, Rsamtools,
	S4Vectors, IRanges, GenomeInfoDb,
    BiocParallel,
	edgeR, 
	methods, Rhtslib)

importFrom("GenomicFeatures", exonsBy)
importFrom("AnnotationDbi", select)
importFrom("limma", loessFit)
importFrom("BiocGenerics", normalize)
importFrom("stats", p.adjust, weighted.mean)

#  Exporting classes and methods
exportClasses(
	readParam
)

exportMethods(
	show, "$", reform, normOffsets, asDGEList, normalize
)

