#  Calling the dynamic library
useDynLib(csaw, .registration=TRUE, .fixes="cxx_")

#  All functions exported, arranged by sequence of usage.
export(csawUsersGuide,
	readParam, reformList,
	correlateReads, getPETSizes, profileSites,
	regionCounts, windowCounts,
	normalizeCounts, 
	getWidths, scaledAverage, findMaxima,
	combineTests, getBestTest, mergeWindows,
	detailRanges,
	extractReads)

#  Importing required packages
import(GenomicRanges, Rsamtools,
	S4Vectors, IRanges, GenomeInfoDb,
	edgeR, limma,
	methods)

importFrom("GenomicAlignments", cigarWidthAlongReferenceSpace)
importFrom("GenomicFeatures", exonsBy)
importFrom("AnnotationDbi", select)

#  Exporting classes and methods
exportClasses(
	readParam
)

exportMethods(
	show, "$", reform, normalize, asDGEList, param
)

