#  Calling the dynamic library
useDynLib(csaw, .registration=TRUE, .fixes="cxx_")

#  All functions exported, arranged by sequence of usage.
export(csawUsersGuide,
	readParam, reformList, checkList,
	correlateReads, getPESizes, profileSites,
	regionCounts, windowCounts, strandedCounts,
	normalizeCounts, 
	getWidths, scaledAverage, findMaxima,
	combineTests, getBestTest, mergeWindows,
	detailRanges,
	extractReads)

#  Importing required packages
import(GenomicRanges, Rsamtools,
	S4Vectors, IRanges, GenomeInfoDb,
	edgeR, 
	methods)

importFrom("GenomicAlignments", cigarWidthAlongReferenceSpace)
importFrom("GenomicFeatures", exonsBy)
importFrom("AnnotationDbi", select)
importFrom("limma", loessFit)

#  Exporting classes and methods
exportClasses(
	readParam
)

exportMethods(
	show, "$", reform, normalize, asDGEList
)

